body,html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
	background-color: #333;
}

table {
	margin-top: calc( 50vh - 250px );
	margin-left: calc( 50% - 500px );
	border-collapse: collapse;
	background-color: #333;
	color: #eee;
}

#cv {
	display: inline-block;
	width: 700px;
	height: 500px;
	background-color: #333;
}

.iteration-counter {
	font-size: 10px;
	font-weight: bold;
	font-family: monospace;
}

.stats-col {
	width: 120px;
	text-align: center;
}

.control-col {
	padding-left: 5px;
	padding-right: 5px;
	width: 170px;
	text-align: center;
	vertical-align: top;
	background-color: #444;
	border-radius: 3px;
}

.throbber-container {
	display: block;
	width: 64px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9px;
	position: relative;
	overflow: visible;
}

.learning-throbber {
	width: 64px;
	height: 64px;
	position: absolute;
	top: 0;
	left: 0;
}

.result-popout-outer {
	width: 80px;
	height: 96px;
	position: absolute;
	top: -78px;
	left: -36px;
	background: url(../images/popout.png) no-repeat;
	background-size: cover;
	z-index: 9;
	filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
	transition-duration: 0.4s;
	transition-property: transform, opacity;
	transition-timing-function: cubic-bezier(0.2, 1.300, 0.740, 1.005); /* custom */

	opacity: 0;
	transform: scale(0.3) translateX(-10px);
	transform-origin: bottom center;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.result-popout-outer span {
	display: block;
	margin-left: 0;
	margin-right: 0;
	margin-top: calc(48px - 0.75em);
	margin-bottom: 0;
	padding: 0;
	text-align: center;
}

[data-popout="1"] .result-popout-outer {
	opacity: 1;
	transform: scale(1) translateX(0px);
}

[data-popout="2"] .result-popout-outer {
	font-size: 16px;
	color: #777;
	opacity: 0.8;
	transform: scale(0.6) translateX(0px);
}

@keyframes thinking {
	0% {
		transform: scaleY(1) translateY(0px);
	}

	50% {
		transform: scaleY(0.97) translateY(1px) rotate(-1deg);
	}
}

.learning-throbber[data-animation="1"] {
	animation: thinking forwards 0.5s infinite ease 0s;
}

.throbber-caption {
	width: 64px;
	height: 16px;
	position: absolute;
	top: 64px;
	left: 0;
	text-align: center;
	font-size: 11px;
	color: #eee;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.control-col legend {
	font-size: 10px;
	color: #aaa;
	border-color: #999;
}

.control-col fieldset {
	border: 1px solid #888;
	margin-left: 8px;
	margin-right: 8px;
}


#control-button-container {
	margin-top: 9px;
}

#control-button-container button,
.handwrite-input-outer button {
	padding: 5px;
	border-radius: 20px;
	width: 32px;
	height: 32px;
	border: none;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	font-size: 16px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	cursor: pointer;
	color: #fff;
}

.handwrite-input-outer button {
	margin-left: 0.5em;
}

#control-button-container button:hover:active,
.handwrite-input-outer button:hover:active {
	box-shadow: 0 -1px 0.5px rgba(0,0,0,0.75), 0 2px 5px rgba(0,0,0,0.25) inset;
	transform: translateY(1px);
}

#control-button-container button:disabled,
#control-button-container button:hover:active:disabled {
	opacity: 0.5;
	filter: saturate(0) contrast(0.75);
	cursor: default;
	box-shadow: none;
	transform: translateY(0);
}

.btn-type-destructive {
	background-color: #B00;
}

.btn-type-execution {
	background-color: #29C;
}

@keyframes glitter {
	0% {
		background-position: -200px 50%;
	}

	100% {
		background-position: 200px 50%;
	}
}

@keyframes blinking {
	0% {
		opacity: 100%;
	}

	50% {
		opacity: 10%;
	}

	100% {
		opacity: 100%;
	}
}

[data-glitter="1"] {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAoAQMAAABTru9CAAAABlBMVEUAAAD/6k23A6tpAAAAAXRSTlMAQObYZgAAADlJREFUGNNjAIP/QPAHzGIEMX+Amcwg5gcwkx3EfABm8oOYB8BMeRCzAcy0BzEhZtUDWf9GjaWxsQBdrr1DOc0lSQAAAABJRU5ErkJggg==") no-repeat;	
	animation: glitter forwards 1.5s 1 ease 0s;
}

[data-glitter="2"] {
	animation: blinking forwards 1s infinite ease 0s;
}

#train-data-preview canvas {
	margin-left: 1px;
	margin-right: 1px;
}

@keyframes sweat1 {
	0% {
		transform: translateY(7px) rotate(-19deg);
		opacity: 1;
	}

	100% {
		transform: rotate(40deg) translateX(10px);
		opacity: 0;
	}
}

@keyframes sweat2 {
	0% {
		transform: translateY(10px) rotate(-30deg);
		opacity: 1;
	}

	100% {
		transform: rotate(50deg) translateX(10px);
		opacity: 0;
	}
}

@keyframes sweat3 {
	0% {
		transform: scaleX(-1) rotate(-30deg);
		opacity: 1;
	}

	100% {
		transform: scaleX(-1) rotate(50deg);
		opacity: 0;
	}
}

.throbber-sweat-3 {
	top: -3px;
	animation: sweat3 forwards 1s infinite ease -0.2s;
	display: none;
}

[data-panic="1"] .throbber-sweat-3 {
	display: inline-block;
}

/* paged */
#control-page-list {
	margin: 0;
	padding: 0;
	position: relative;
	height: 1px;
	text-align: left;
}

#control-page-list li {
	text-align: center;
	display: inline-block;
	list-style-type: none;
	font-size: 11px;
	border-top: 2px solid #555;
	width: 60px;
	height: 20px;
	background-color: #444;
	position: relative;
	top: -25px;
	opacity: 0.7;
	padding: 2px 0 0 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	cursor: pointer;
}

#control-page-list li[data-selected="1"] {
	border-top: 2px solid #39E;
	opacity: 1;
	cursor: default;
}

#control-page-list li[data-selected="0"]:hover {
	border-top-color: #999;
}

/* input page */
.input-preview-canvas {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-top: -2px;
}

#data-input-pane h3 {
	font-size: 12px;
}

#data-input-pane h3 img {
	vertical-align: middle;
	margin-right: 5px;
	display: inline-block;
	margin-top: -2px;
}